.navbar {
  background-color: #fdfbdc;
}

.nb-nav-judul {
  color: #128541;
  font-weight: 700;
}

.nb-nav-judul span {
  color: #84c441;
}

.nb-nav {
  /* border: 3px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.link {
  margin: 0 15px 0 15px;
}

.nb-link {
  color: #84c441;
  text-decoration: none;
  font-weight: bold;
}

.nb-link:hover {
  color: #128541;
}
